
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    scroll-margin-top: 120px; 
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}
.logo {
    height: 100px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 100px;
}
.menu a {
    font-size: 20px;
    display: flex;
    padding: 5px 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; 
}
.menu a:hover {
    color: chocolate; 
}

.imagenfondo{
    background-image: url(../img/imagenfondocafe3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: flex-end; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 100px 100px;
}
.imagenfondo h1 {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
.imagenfondo h2 {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
}

.carrito {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;
    border-radius: 50%;
    pointer-events: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    transition: transform 0.3s ease;
}
.carrito:hover {
    transform: scale(1.1);
}


.boton-carrito {
    display: inline-block;
}

.contador-carrito {
    position: fixed;
    bottom: 18px; 
    right: 15px;
    background-color: chocolate;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    z-index: 1001;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}


.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.btn-primary {
    background-color: chocolate !important; 
    border-color: chocolate !important;
}
.btn-primary:hover {
    background-color: #a0522d !important; 
    border-color: #a0522d !important;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 150px;
}


footer a {
    transition: color 0.3s ease;
}

footer a:hover {
    color: chocolate !important;

}

.barra.scrolled {
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    background-color: #fff;
    transition: all 0.3s ease;
}

.product-card button.clicked {
    transform: scale(1.1);
    background-color: #28a745; 
    transition: all 0.3s ease;
}


.product-card img {
    transition: transform 0.4s ease;
}

.product-card:hover img {
    transform: scale(1.1);
}
