@page
@model PoliticaPrivacidadModel
@{
    ViewData["Title"] = "Política de Privacidad";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/PoliticadePrivacidad.css" asp-append-version="true" />
}

<h1>Política de Privacidad</h1>

<p>
    El presente Política de Privacidad establece los términos en que GRANO usa y protege la información
    que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está
    comprometida con la seguridad de los datos de sus usuarios...
</p>

<h2>Información que es recogida</h2>
<p>
    Nuestro sitio web podrá recoger información personal por ejemplo: Nombre, información de contacto
    como su dirección de correo electrónica e información demográfica...
</p>

<h2>Uso de la información recogida</h2>
<p>
    Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible...
</p>

<h3>Grano Vivo</h3>
<p>
    Está altamente comprometido para cumplir con el compromiso de mantener su información segura...
</p>

<h3>Cookies</h3>
<p>
    Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para
    almacenarse en su ordenador...
</p>

<p>
    Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas...
</p>

<h4>Enlaces a Terceros</h4>
<p>
    Este sitio web pudiera contener enlaces a otros sitios que pudieran ser de su interés...
</p>

<h4>Control de su información personal</h4>
<p>
    En cualquier momento usted puede restringir la recopilación o el uso de la información personal...
</p>

<h4>Solicitud de eliminación de datos personales</h4>
<p>
    En cualquier momento usted podrá solicitar el borrado de su cuenta enviando un correo a
    ventas@centralcafeycacao.org...
</p>

<h4>Grano Vivo</h4>
<p>
    Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.
</p>
