@page
@model TerminosCondicionesModel
@{
    ViewData["Title"] = "Términos y Condiciones";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/TerminosyCondiciones.css" asp-append-version="true" />
}

<h1>TÉRMINOS Y CONDICIONES</h1>

<p>
    Las transacciones que se efectúen a través de granovivoselecto.pe (en adelante, Grano Vivo Selecto Café),
    se sujetan a los presentes Términos y Condiciones, así como a la legislación peruana vigente...
</p>

<h2>REGISTRO DEL CLIENTE O USUARIO</h2>
<p>
    No es necesario registrarse para realizar compras en Grano Vivo Selecto Café...
</p>

<h2>MEDIOS DE PAGO</h2>
<p>
    Los medios de pago disponibles en Grano Vivo Selecto Café son tarjetas de crédito y débito...
</p>

<h3>VALIDEZ, PRECIO Y STOCK DE LAS OFERTAS</h3>
<p>
    Los precios y productos exhibidos en granovivoselecto.pe son exclusivos para compras online...
</p>

<h3>COMPROBANTES DE PAGO</h3>
<p>
    El cliente deberá seleccionar correctamente el tipo de comprobante electrónico que desea recibir...
</p>
